
<!-- Promo code input -->
<div class="active:scale-95 flex border duration-300 transition-all border-green-900 bg-green-900 hover:border-blue-500 hover:bg-blue-500 overflow-hidden rounded-md">
    <input type="text" placeholder="Promo Code"
        class="w-full rounded-md outline-none bg-white text-gray-600 text-sm px-4 py-2 m-[1px]" />
    <button type='button' class="relative group px-2 text-sm text-white">
        Apply
    </button>
</div>

<!-- Order summary -->
<ul class="text-gray-50 mt-8 space-y-4">
    <li class="flex flex-wrap gap-4 text-base">Discount <span class="ml-auto font-bold">$0.00</span></li>
    <li class="flex flex-wrap gap-4 text-base">Shipping <span class="ml-auto font-bold">$2.00</span></li>
    <li class="flex flex-wrap gap-4 text-base">Tax <span class="ml-auto font-bold">$4.00</span></li>
    <li class="flex flex-wrap gap-4 text-base font-bold">Total <span id="total" class="ml-auto">${{cart.get_total}}</span></li>
</ul>

<!-- Checkout and continue shopping buttons -->
<div class="mt-8 space-y-2 flex flex-col text-center">
    <a href="{% url 'checkout' %}" 
        class="btn text-sm py-2.5 w-full font-semibold tracking-wide bg-yellow-500 active:scale-95
        hover:text-green-950 text-white rounded-md  transition-colors duration-300">Checkout</button>
    <a href="{% url 'store' %}" 
        class="
        text-sm py-2.5 w-full font-semibold tracking-wide bg-transparent hover-border  transition-colors duration-300
        text-white border border-yellow-500 rounded-md hover:bg-green-900 active:scale-95">
        Continue Shopping  
    </a>
</div>
