{% load mathfilters %}
<!-- Individual cart item -->
<div class="items-center gap-2 bg-green-900/50 rounded-md shadow-sm shadow-black/50 flex flex-col md:flex-row">
        <!-- Product image -->
        <div class="w-full md:w-48 aspect-1 shrink-0 bg-green-900 rounded-md">
            <img src="{{product.image.url}}" class="w-full h-full object-cover rounded-md" />
        </div>

        <!-- Product details -->
        <div class="flex flex-col gap-4 md:ml-4 p-2 items-start w-full">
            <div class="flex flex-col">
                <a href="{{item.url}}">
                    <p class="text-lg text-left text-white font-normal hover:text-yellow-500">{{product.title}}</p>
                </a>
                <p class="font-thin text-sm text-left">{{product.description}}</p>
                <p class="text-sm text-left md:text-sm text-white rounded-md w-3/4 block">
                    {% if product.discount > 0 %}
                    <span class="line-through text-xs">$ {{product.price}}</span>
                    <span class="font-bold">$ {{product.discount_price}}</span>
                    {% else %}
                    <span class="font-bold">$ {{product.price}}</span>
                    {% endif %}
                </p>
            </div>
            
            
          
            <!-- Size and quantity controls -->
            <div class="flex gap-4">
                <!-- Quantity selector -->
                <div class="flex divide-x border w-max rounded overflow-hidden">
                    <button data-index="{{product.id}}" type="button" class="group cart-qty-minus transition-colors duration-300 hover:bg-yellow-500 w-7 h-5 flex items-center justify-center">
                        <i class="ri-subtract-line"></i>
                    </button>
                    <div id="item-qty-{{product.id}}" class="w-7 h-5 font-normal flex items-center justify-center text-white text-sm">
                        {{item.qty}}
                    </div>
                    <button data-index="{{product.id}}" type="button" class="group cart-qty-plus transition-colors duration-300 hover:bg-yellow-500 text-white w-7 h-5 flex items-center justify-center">
                        <i class="ri-add-line"></i>
                    </button>
                </div>
            </div>
            
            <!-- Card controls--> 
            <div class="">
                {% if product.discount > 0 %}
                    <p class="text-left text-sm">Subtotal <span class="">${{product.discount_price|mul:item.qty}}</span></p>
                {% else %}
                    <p class="text-left text-sm">Subtotal <span class="">${{product.price|mul:item.qty}}</span></p>
                {% endif %}
                {% include 'cart/includes/elements/card-controls.html' %}
            </div>
        </div>
</div>