<div class="hidden lg:block">
    <form id="sidebar-logout-form" action="{% url 'logout' %}" method="POST" style="display: none;">
        {% csrf_token %}
    </form>
    <h3 class="sr-only">Blog Posts</h3>
    <ul role="list" class="space-y-4 border-b border-gray-200 pb-6 text-sm font-medium text-white">
        <li><a href="{% url 'dashboard' %}">Orders</a></li>
        <li><a href="{% url 'profile' %}">Profile</a></li>
        <li><a href="{% url 'settings' %}">Settings</a></li>
        <li>
            <a 
                onclick="document.getElementById('sidebar-logout-form').submit();" 
                href="#">
                Sign Out
            </a>
        </li>
    </ul>
</div>