{% extends 'base.html' %}
{% load static %}
{% block contents %}
    {% include 'includes/main-navbar.html'%}
    {% include 'cart/includes/cart-page-content.html' %}
    {% include 'includes/footer.html'%} 
{% endblock %}
{% block scripts %}
    <!-- Script for cart item management functionalities (delete & update) -->
    <script 
        src="{% static 'cart/js/handle-cart.js' %}" 
        data-cart-delete-url="{% url 'cart-delete' %}"
        data-cart-update-url="{% url 'cart-update' %}"
        data-cart-coupon-url="{% url 'apply-coupon' %}"
        data-csrf-token="{{ csrf_token }}">
    </script>
{% endblock %}

