{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block page_title %}Plantfantasia - Your Home for Beautiful House Plants{% endblock %}</title>
		<!-- remix icon -->
		<link 
			rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css" 
			integrity="sha512-OQDNdI5rpnZ0BRhhJc+btbbtnxaj+LdQFeh0V9/igiEPDiWE2fG+ZsXl0JEH+bjXKPJ3zcXqNyP4/F/NegVdZg==" 
			crossorigin="anonymous" referrerpolicy="no-referrer" 
		/>
		<!-- swiper css-->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
		{% tailwind_css %}
	</head>

	<body class=" bg-green-950 font-jost text-white mx-auto font-serif leading-normal tracking-wider">
		<header id="navbar" class="bg-green-950 fixed w-full top-0 left-0 z-50" id="navbar">
			<nav class="container flex items-center justify-between h-16 sm:h-20">
				<div class="font-poiret font-light text-xl sm:text-3xl italic inline-flex items-center">
					<img class="w-16 h-16 " src="{% static 'media/images/logo.png' %}"></img>Plant Fantasia
				</div>
				
				<div id="nav-menu" class="absolute top-0 left-[-100%] min-h-[80vh]
				 	w-full bg-green-950/80 backdrop-blur-sm flex items-center justify-center
					duration-500 overflow-hidden lg:static lg:min-h-fit lg:bg-transparent
					lg:w-auto ">
					<ul class="flex flex-col items-center lg:flex-row gap-8">
						<li><a href="#home" class="nav-link">Home</a></li>	
						<li><a href="#about" class="nav-link">About</a></li>	
						<li><a href="#trending" class="nav-link">Trending</a></li>	
						<li><a href="#reviews" class="nav-link">Reviews</a></li>	
					</ul>
					<div class="absolute bottom-0 -right-10 opacity-90 lg:hidden">
						<img class="w-32" src="/media/images/leaf-1.png" alt="leaf-image">
					</div>
					<div class="absolute -top-5 -left-5 rotate-90 opacity-90 lg:hidden">
						<img class="w-32" src="/media/images/leaf-2.png" alt="leaf-image">
					</div>
				</div>
				<div class="text-xl sm:xext-3xl cursor-pointer z-50 lg:hidden">
					<i id="hamburger" class="ri-menu-5-line"></i>
				</div>
			</nav>
		</header>

		<main id="">
			{% block contents %}
			{% endblock %}
		</main>

		<footer class="bg-yellow-100 text-green-950 pt-20 pb-10 md:pt-28 relative">
			
			<!--newsletter-->
			<div class="container text-white absolute top-0 right-0 left-0 
				-translate-y-1/2">
				<div class="bg-green-900 px-10 pt-5 pb-10 space-y-5 rounded-md">
					<h4>
						<span class="text-yellow-500">
							Subscribe 
						</span> to our budding newsletter
					</h4>
					<div class="flex flex-col md:flex-row gap-1">
						<input type="email" placeholder="Your Email Address" required="true"
						class="w-full pxy-5 py-3 text-green-900 rounded-md outline-none">
						<button class="flex flex-row gap-4 sm:gap-2 items-center justify-center bg-green-950 px-5 py-3 rounded-md hoverLopacity-80
						duration-500 mt-2 sm:mt-0  hover:bg-yellow-500 hover:text-green-950">
							<span class="">Subscribe</span>
							<i class="ri-send-plane-2-fill"></i>
						</button>
					</div>
				</div>
			</div>

			<!--social icon-->
			<div class="footer-icon container mt-20 md:mt-16 mb-10">
				<div class="border-b border-green-900 relative">
					<div class="absolute top-0 transform -translate-y-1/2 left-0 right-0 max-w-56 mx-auto">
						<div class="bg-yellow-100 text-lg text-center space-x-2 mx-2">
							<i class="ri-facebook-fill hover:text-yellow-500 text-green-900 cursor-pointer"></i>
							<i class="ri-linkedin-fill hover:text-yellow-500 text-green-900 cursor-pointer"></i>
							<i class="ri-twitter-x-line hover:text-yellow-500 text-green-900 cursor-pointer"></i>
							<i class="ri-pinterest-line hover:text-yellow-500 text-green-900 cursor-pointer"></i>
							<i class="ri-reddit-line hover:text-yellow-500 text-green-900 cursor-pointer"></i>
							<i class="ri-instagram-line hover:text-yellow-500 text-green-900 cursor-pointer"></i>
						</div>
					</div>
				</div>
			</div>

			<!--content-->
			<div class="footer-content container grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-8 text-center md:text-start">
				
				<!-- Item 1 -->
				<div>
					<div class="text-7xl flex flex-col sm:text-2xl items-center justify-center z-50">
						<img class="w-32 h-32 flex-1" src="{% static 'media/images/logo.svg' %}"></img> 
						<p class="font-poiret">Plant Fantasia </p>
					</div>
				</div>

				<!-- Item 2 -->
				<div class="text-center">
					<p class="mb-4 font-bold text-xl">Quick Links</p>
					<div class="flex flex-col gap-1">
						<a href="#">Plants</a>
						<a href="#">Flowers</a>
						<a href="#">Gardening Tips</a>
						<a href="#">Seeds</a>
						<a href="#">Shipping</a>
					</div>
				</div>

				<!-- Item 3 -->
				<div class="text-center">
					<p class="mb-4 font-bold text-xl">Popular Services</p>
					<div class="flex flex-col gap-1">
						<a href="#">Tree Planting</a>
						<a href="#">Grass Cutting</a>
						<a href="#">Weed Control</a>
						<a href="#">Landscape Design</a>
					</div>
				</div>

				<!-- Item 4 -->
				<div class="text-center">
					<p class="mb-4 font-bold text-xl">Contact Us</p>
					<div class="flex flex-col gap-1">
						<a href="tel+27696508853">+2769 650 8853</a>
						<a href="mailto:info@plantfantasia.com">
							info@plantfantasia.com
						</a>
						<br>
						<a>
							777 Willoshade Lane <br>
							Verdant Village, Evergreen County
							Florana 412929
						</a>
					</div>
				</div>
			</div>

			<!-- copyright -->
			<div class="copyright-text container mt-10 opacity-50">
				<p class="text-center font-thin tracking-widest">
					Copyright &copy; 2024 Plant Fantasia. <br> All rights reserved.
				</p>
			</div>

			<!-- floral images -->
			<div class="absolute bottom-0 left-0 opacity-20 pointer-events-none footer-floral">
				<img class="w-full lg:w-1/2" src="{% static 'media/images/floral.png' %}" alt="">
			</div>

			<!-- scroll up -->
			<a href="#" class="fixed right-4 bottom-4 bg-green-950 text-yellow-200 border border-yellow-200
				inline-block px-3 py-1 md:px-4 rounded-md text-lg z-50 hover:-translate-y-2 duration-300" 
				id="scroll-up">
				<i class="ri-arrow-up-line"></i>
			</a>

		</footer>
		<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

		<script src="{% static 'js/scrollreveal.min.js'%}"></script>
		<script src="{% static 'js/main.js'%}"></script>
	</body>
</html>
