{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block page_title %}Plantfantasia - Your Home for Beautiful House Plants{% endblock %}</title>
		<!-- remix icon -->
		<link 
			rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css" 
			integrity="sha512-OQDNdI5rpnZ0BRhhJc+btbbtnxaj+LdQFeh0V9/igiEPDiWE2fG+ZsXl0JEH+bjXKPJ3zcXqNyP4/F/NegVdZg==" 
			crossorigin="anonymous" referrerpolicy="no-referrer" 
		/>
		<!-- swiper css-->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

		<!-- flowbite react -->
		<link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
		{% tailwind_css %}
	</head>

	<body class=" bg-green-950 font-jost text-white mx-auto font-serif leading-normal tracking-wider">
		<header id="navbar" class="bg-green-950 fixed w-full top-0 left-0 z-50" id="navbar">
			{% include 'includes/shop-navbar.html'%}
		</header>

		<main id="">
			{% block contents %}
			{% endblock %}
		</main>

		<footer class="bg-yellow-100 text-green-950 pt-20 pb-10 md:pt-28 relative">
			{% include 'includes/footer.html'%}
		</footer>
		<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
		<script src="{% static 'js/scrollreveal.min.js'%}"></script>
		<script src="{% static 'js/main.js'%}"></script>
	</body>
</html>
