{% extends 'base.html' %}
{% load static %}
{% block page_title %}{% endblock %}

<!-- Visible Page Content -->
{% block contents %}
    <!--Navbar-->
    {% include 'includes/main-navbar.html'%}

    <!--Hero Section-->
    {% include 'store/includes/elements/hero-section.html' %}

    <!-- Services -->
    {% include 'store/includes/elements/services-section.html' %}

    <!-- About Us -->
    {% include 'store/includes/elements/about-section.html' %}

    <!-- Trending -->
    {% include 'store/includes/elements/trending-section.html' %}

    <!-- Review -->
    {% include 'store/includes/elements/review-section.html' %}

    <!--Footer-->
    {% include 'includes/footer.html'%}
{% endblock %}