{% extends 'base.html' %}
{% load static %}
{% block page_title %}{% endblock %}

<!-- Visible Page Content -->
{% block contents %}
    <section id="home" class="relative">
        <div class="container">
            <!-- blob 1 -->
            <div class="w-64 h-64 bg-green-700 rounded-full blur-3xl -z-10 opacity-40 absolute top-1/2 left-1/2 
            transform -translate-x-1/2 -translate-y-1/2">
            </div>
            <!-- blob 2 -->
            <div class="w-64 h-64 bg-green-700 rounded-full blur-3xl -z-10 opacity-40 absolute
            transform right-0 bottom-0">
            </div>
            <div class="flex flex-col items-center gap-5 lg:flex-row pt-5">
                <!-- content -->
                <div class="home-data w-full space-y-5 lg:w-1/2">
                    <h1>
                        <span class="text-yellow-500">Plants</span> can profoundly <br>
                        <span class="text-yellow-500">enhance</span> your life!
                    </h1>

                    <p class="text-slate-100 text-xl font-poiret">
                        Welcome to Plant Fantasia, where plant fantasies come true. Your ultimate destination for all things botanical, dedicated to bringing the beauty of nature into your home.
                    </p>

                    <div class="flex flex-col md:flex-row gap-4">
                        <button class="btn border active:scale-95 hover:opacity-90 border-yellow-500 bg-yellow-500 rounded-md px-5 py-2 duration-300">
                            <a href="{% url 'store' %}" class="w-full h-full">
                                <span class="font-bold">Shop Now</span>
                                <i class="ri-leaf-line"></i>
                            </a>
                        </button>

                        <button class="btn border active:scale-95 hover:opacity-90 hover:bg-yellow-500 border-yellow-500 bg-transparent rounded-md px-5 py-2 duration-500">
                            <a href="{% url 'home' %}">
                                <span class="font-bold">Learn More</span>
                                <i class="ri-leaf-line"></i>
                            </a>
                        </button>
                    </div>

                    <p class="font-thin text-xs font-poiret">
                        Free Trial - Try out the PlantFantasia for 30 Days
                    </p>

                    <div class="flex items-center gap-6 text-lg md:text-xl lg:text-2xl">
                        <i class="ri-facebook-fill hover:text-yellow-500 text-slate-300 cursor-pointer"></i>
                        <i class="ri-twitter-x-line hover:text-yellow-500 text-slate-300 cursor-pointer"></i>
                        <i class="ri-instagram-line hover:text-yellow-500 text-slate-300 cursor-pointer"></i>
                        <i class="ri-linkedin-fill hover:text-yellow-500 text-slate-300 cursor-pointer"></i>
                        <i class="ri-pinterest-line hover:text-yellow-500 text-slate-300 cursor-pointer"></i>
                        <i class="ri-reddit-line hover:text-yellow-500 text-slate-300 cursor-pointer"></i>
                    </div>
                </div>
                <!-- image -->
                <div class="w-full relative lg:w-1/2">
                    <img src="{% static 'store/img/home.png'%}" alt="" class="home-image">
                    <!-- leaf -->
                    <div class="absolute right-0 top-7 animate-pulse">
                        <i class="ri-leaf-line text-yellow-500 opacity-50 text-3xl md:text-6xl"></i>
                    </div>
                    <!-- flower -->
                    <div class="absolute right-0 bottom-7 animate-pulse">
                        <i class="ri-flower-line text-yellow-500 opacity-50 text-3xl md:text-6xl animate-rotating"></i>
                    </div>
                    <!-- plant -->
                    <div class="absolute left-0 bottom-7 animate-pulse">
                        <i class="ri-plant-line text-yellow-500 opacity-50 text-3xl md:text-6xl"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>

         <!-- Services -->
         <div id="services" class="bg-white text-green-900 py-10">
            <div class="container w-full grid grid-cols-1 gap-6 md:grid-cols-2 xl:grid-cols-4">
                <!-- card 1 -->
                <div class="service-card border border-green-900 p-5 cursor-pointer rounded-md
                hover:shadow-2xl hover:-translate-y-1 duration-300 ease-in-out">
                    <div class="flex items-center gap-5 space-y-5">
                        <i class="ri-service-line text-3xl md:text-4xl xl:text-5xl"></i>
                        <p class="md:text-lg  font-bold"> Plant <br> Care </p>
                    </div>
                    <p class="font-poiret"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, incidunt?</p>
                </div>
                <!-- card 2 -->
                <div class="service-card border border-green-900 p-5 cursor-pointer rounded-md
                hover:shadow-2xl hover:-translate-y-1 duration-300 ease-in-out">
                    <div class="flex items-center gap-5 space-y-5">
                        <i class="ri-sketching text-3xl md:text-4xl xl:text-5xl"></i>
                        <p class="md:text-lg  font-bold"> Garden <br> Planner </p>
                    </div>
                    <p class="font-poiret"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, incidunt?</p>
                </div>
                <!-- card 3 -->
                <div class="service-card border border-green-900 p-5 cursor-pointer rounded-md
                hover:shadow-2xl hover:-translate-y-1 duration-300 ease-in-out">
                    <div class="flex items-center gap-5 space-y-5">
                        <i class="ri-plant-line text-3xl md:text-4xl xl:text-5xl"></i>
                        <p class="md:text-lg  font-bold"> Greenspace <br> Finder </p>
                    </div>
                    <p class="font-poiret"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, incidunt?</p>
                </div>
                <!-- card 4 -->
                <div class="service-card border border-green-900 p-5 cursor-pointer rounded-md
                hover:shadow-2xl hover:-translate-y-1 duration-300 ease-in-out">
                    <div class="flex items-center gap-5 space-y-5">
                        <i class="ri-map-2-line text-3xl md:text-4xl xl:text-5xl"></i>
                        <p class="md:text-lg  font-bold"> Eco-Travel <br> Guide </p>
                    </div>
                    <p class="font-poiret"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, incidunt?</p>
                </div>
            </div>
        </div>

    <!-- About Us -->
    {% include 'store/includes/about-section.html' %}

    <!-- Trending -->
    {% include 'store/includes/trending-section.html' %}

    <!-- Review -->
    {% include 'store/includes/review-section.html' %}
{% endblock %}