{% extends 'base.html' %}
{% load static %}
{% block page_title %}{% endblock %}

<!-- Visible Page Content -->
{% block contents %}
    <section id="home" class="relative">
        <div class="container">
            <!-- blob 1 -->
            <div class="w-64 h-64 bg-green-700 rounded-full blur-3xl -z-10 opacity-40 absolute top-1/2 left-1/2 
            transform -translate-x-1/2 -translate-y-1/2">
            </div>
            <!-- blob 2 -->
            <div class="w-64 h-64 bg-green-700 rounded-full blur-3xl -z-10 opacity-40 absolute
            transform right-0 bottom-0">
            </div>
            <div class="flex flex-col items-center gap-5 lg:flex-row pt-5">
                <!-- content -->
                <div class="home-data w-full space-y-5 lg:w-1/2">
                    <h1>
                        <span class="text-yellow-500">Plants</span> can profoundly <br>
                        <span class="text-yellow-500">enhance</span> your life!
                    </h1>

                    <p class="text-slate-100 text-xl font-poiret">
                        Welcome to Plant Fantasia, where plant fantasies come true. Your ultimate destination for all things botanical, dedicated to bringing the beauty of nature into your home.
                    </p>

                    <div class="flex flex-col md:flex-row gap-4">
                        <button class="btn border active:scale-95 hover:opacity-90 border-yellow-500 bg-yellow-500 rounded-md px-5 py-2 duration-300">
                            <span class="font-bold">Shop Now</span>
                            <i class="ri-leaf-line"></i>
                        </button>

                        <button class="btn border active:scale-95 hover:opacity-90 hover:bg-yellow-500 border-yellow-500 bg-transparent rounded-md px-5 py-2 duration-500">
                            <span class="font-bold">Learn More</span>
                            <i class="ri-leaf-line"></i>
                        </button>
                    </div>

                    <p class="font-thin text-xs font-poiret">
                        Free Trial - Try out the PlantFantasia for 30 Days
                    </p>

                    <div class="flex items-center gap-6 text-lg md:text-xl lg:text-2xl">
                        <i class="ri-facebook-fill hover:text-yellow-500 text-slate-300 cursor-pointer"></i>
                        <i class="ri-twitter-x-line hover:text-yellow-500 text-slate-300 cursor-pointer"></i>
                        <i class="ri-instagram-line hover:text-yellow-500 text-slate-300 cursor-pointer"></i>
                        <i class="ri-linkedin-fill hover:text-yellow-500 text-slate-300 cursor-pointer"></i>
                        <i class="ri-pinterest-line hover:text-yellow-500 text-slate-300 cursor-pointer"></i>
                        <i class="ri-reddit-line hover:text-yellow-500 text-slate-300 cursor-pointer"></i>
                    </div>
                </div>
                <!-- image -->
                <div class="w-full relative lg:w-1/2">
                    <img src="{% static 'store/img/home.png'%}" alt="" class="home-image">
                    <!-- leaf -->
                    <div class="absolute right-0 top-7 animate-pulse">
                        <i class="ri-leaf-line text-yellow-500 opacity-50 text-3xl md:text-6xl"></i>
                    </div>
                    <!-- flower -->
                    <div class="absolute right-0 bottom-7 animate-pulse">
                        <i class="ri-flower-line text-yellow-500 opacity-50 text-3xl md:text-6xl animate-rotating"></i>
                    </div>
                    <!-- plant -->
                    <div class="absolute left-0 bottom-7 animate-pulse">
                        <i class="ri-plant-line text-yellow-500 opacity-50 text-3xl md:text-6xl"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>

         <!-- Services -->
         <div id="services" class="bg-white text-green-900 py-10">
            <div class="container w-full grid grid-cols-1 gap-6 md:grid-cols-2 xl:grid-cols-4">
                <!-- card 1 -->
                <div class="service-card border border-green-900 p-5 cursor-pointer rounded-md
                hover:shadow-2xl hover:-translate-y-1 duration-300 ease-in-out">
                    <div class="flex items-center gap-5 space-y-5">
                        <i class="ri-truck-line text-3xl md:text-4xl xl:text-5xl"></i>
                        <p class="md:text-lg  font-bold"> Fast <br> Delivery </p>
                    </div>
                    <p class="font-poiret"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, incidunt?</p>
                </div>
                <!-- card 2 -->
                <div class="service-card border border-green-900 p-5 cursor-pointer rounded-md
                hover:shadow-2xl hover:-translate-y-1 duration-300 ease-in-out">
                    <div class="flex items-center gap-5 space-y-5">
                        <i class="ri-customer-service-line text-3xl md:text-4xl xl:text-5xl"></i>
                        <p class="md:text-lg  font-bold"> Great <br> Service </p>
                    </div>
                    <p class="font-poiret"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, incidunt?</p>
                </div>
                <!-- card 3 -->
                <div class="service-card border border-green-900 p-5 cursor-pointer rounded-md
                hover:shadow-2xl hover:-translate-y-1 duration-300 ease-in-out">
                    <div class="flex items-center gap-5 space-y-5">
                        <i class="ri-plant-line text-3xl md:text-4xl xl:text-5xl"></i>
                        <p class="md:text-lg  font-bold"> Quality <br> Plants </p>
                    </div>
                    <p class="font-poiret"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, incidunt?</p>
                </div>
                <!-- card 4 -->
                <div class="service-card border border-green-900 p-5 cursor-pointer rounded-md
                hover:shadow-2xl hover:-translate-y-1 duration-300 ease-in-out">
                    <div class="flex items-center gap-5 space-y-5">
                        <i class="ri-money-dollar-circle-line text-3xl md:text-4xl xl:text-5xl"></i>
                        <p class="md:text-lg  font-bold"> Value <br> For Money </p>
                    </div>
                    <p class="font-poiret"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, incidunt?</p>
                </div>
            </div>
        </div>

    <!-- About Us -->
    <section id="about" class="relative overflow-hidden">
        <!-- <div>
            <img src="{% static 'store/img/leaf-3.png' %}" alt="leaf image"
            class="absolute -top-8 -right-12 w-40 md:w-52 xl:w-64 -z-50 opacity-20 hidden">
        </div> -->

        <div class="flex flex-col items-center gap-3 text-center mb-10 md:mb-20 about-top">
            <h2 class="title">About Us</h2>
            <p class="max-w-2xl px-4">
                We pride ourselves on offering a carefully curated range of plants that cater to unique tastes and styles. Whether you’re a seasoned plant enthusiast or just starting your green journey, there is something special for you to find here. From vibrant flowering plants to exotic foliage, each selection is chosen for its beauty and character.
            </p>
        </div>

        <div class="container space-y-10 xl:space-y-0">
            <!-- item 1 -->
            <div class="flex flex-col items-center lg:flex-row gap-5">
                <!-- image -->
                <div class="w-full lg:w-1/2 about-img_1">
                    <img src="{%static 'store/img/plant-1.png'%}" alt="about_image"
                    class="w-full sm:w-2/3 lg:w-full xl:w-2/3 mx-auto">
                </div>
                <!-- content -->
                <div class="about-content-1 w-full lg:w-1/2">
                    <div class="space-y-5">
                        <h3> 
                            Start your garden <br>
                            <span class="text-yellow-500">organically</span>
                        </h3>
                        <p class="text-slate-300 font-poiret">
                            We source plants from trusted growers committed to quality and sustainability. Each grower follows strict standards to ensure vibrant, healthy plants produced responsibly. Before shipping, each plant is inspected to ensure it arrives at your doorstep healthy and ready to thrive.
                        </p>
                    </div>
                </div>
            </div>
            <!-- item 2 -->
            <div class="flex flex-col items-center lg:flex-row-reverse gap-5">
                <!-- image -->
                <div class="w-full lg:w-1/2 about-img_2">
                    <img src="{%static 'store/img/plant-2.png'%}" alt="about_image"
                    class="w-full sm:w-2/3 lg:w-full xl:w-2/3 mx-auto">
                </div>
                <!-- content -->
                <div class="about-content-2 w-full lg:w-1/2">
                    <div class="space-y-5">
                        <h3> 
                            Maintain your garden
                            <span class="text-yellow-500">naturally</span>
                        </h3>
                        <p class="text-slate-300 font-poiret">
                            Our team is passionate about plants and is here to help you every step of the way. Whether you need care tips or advice on selecting the right plant for your space, we’ve got you covered. We believe in protecting our planet. That’s why we use sustainable packaging materials and prioritize eco-conscious shipping methods.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Trending -->
    <section id="trending" class="bg-green-900">
        <div class="trending-top flex flex-col items-center gap-3 text-center mb-40 md:mb-32">
            <h2 class="title">Trending Plants</h2>
            <p class="max-w-2xl px-4">
                Plants offer much more than just aesthetic appeal for your home; they enhance air quality, elevate your mood, and foster a tranquil environment. Explore how incorporating greenery can turn your living space into a peaceful sanctuary with our curated selection of favorites available in our store.
            </p>
        </div>

        <div class="container w-full grid grid-cols-1 gap-x-8 gap-y-36 md:grid-cols-2 
            xl:grid-cols-4">
            <!-- card 1 -->
             <div class="popular-card bg-green-950 p-10 pt-24 rounded-md relative popular-card lex flex-col justify-between">
                <img src="{% static 'media/images/cart-1.png' %}" alt=""
                class="w-56 absolute -top-5 left-1/2 transform 
                -translate-x-1/2 -translate-y-1/2 duration-500">
                <p class="italic">Nephrolepos exaltata</p>
                <h3>Boston Fern</h3>
                <div class="text-yellow-500 text-xs py-3">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-half-fill"></i>
                    <i class="ri-star-line text-gray-400"></i>
                </div>

                <div class="flex items-center justify-between">
                    <p class="text-xl">$50.00</p>
                    <button class="bg-yellow-500 px-2 py-1 text-xl rounded-sm
                        hover:scale-125 transition-all duration-500">
                        <i class="ri-ping-cart-fill"></i>
                    </button>
                </div>
            </div>

            <!-- card 2 -->
             <div class="popular-card bg-green-950 p-10 pt-24 rounded-md relative popular-card flex flex-col justify-between">
                <img src="{% static 'media/images/cart-2.png' %}" alt=""
                class="w-56 absolute -top-5 left-1/2 transform 
                -translate-x-1/2 -translate-y-1/2 duration-500">
                <p class="italic">Ficus elastica</p>
                <h3>Rubber Plant</h3>
                <div class="text-yellow-500 text-xs py-3">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-half-fill"></i>
                    <i class="ri-star-line text-gray-400"></i>
                </div>

                <div class="flex items-center justify-between">
                    <p class="text-xl">$50.00</p>
                    <button class="bg-yellow-500 px-2 py-1 text-xl rounded-sm 
                        hover:scale-125 transition-all duration-500">
                        <i class="ri-shopping-cart-fill"></i>
                    </button>
                </div>
            </div>

            <!-- card 3 -->
             <div class="popular-card bg-green-950 p-10 pt-24 rounded-md relative popular-card flex flex-col justify-between">
                <img src="{% static 'media/images/cart-3.png' %}" alt=""
                class="w-56 absolute -top-5 left-1/2 transform 
                -translate-x-1/2 -translate-y-1/2 duration-500">
                <p class="italic">Spathiphyllum wallisii</p>
                <h3>Peace Lily</h3>
                <div class="text-yellow-500 text-xs py-3">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-half-fill"></i>
                    <i class="ri-star-line text-gray-400"></i>
                </div>

                <div class="flex items-center justify-between">
                    <p class="text-xl">$50.00</p>
                    <button class="bg-yellow-500 px-2 py-1 text-xl rounded-sm
                        hover:scale-125 transition-all duration-500">
                        <i class="ri-shopping-cart-fill"></i>
                    </button>
                </div>
            </div>

            <!-- card 4 -->
             <div class="popular-card bg-green-950 p-10 pt-24 rounded-md relative popular-card flex flex-col justify-between">
                <img src="{% static 'media/images/cart-4.png' %}" alt=""
                class="w-56 absolute -top-5 left-1/2 transform 
                -translate-x-1/2 -translate-y-1/2 duration-500">
                <p class="italic">Adenium obesum</p>
                <h3>Desert Rose</h3>
                <div class="text-yellow-500 text-xs py-3">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-half-fill"></i>
                    <i class="ri-star-line text-gray-400"></i>
                </div>

                <div class="flex items-center justify-between">
                    <p class="text-xl">$50.00</p>
                    <button class="bg-yellow-500 px-2 py-1 text-xl rounded-sm
                        hover:scale-125 transition-all duration-500">
                        <i class="ri-shopping-cart-fill"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <!-- Review -->
    <section id="reviews" class="relative overflow-hidden mb-20">

        <div>
            <img src="{% static 'store/img/leaf-3.png' %}" alt="leaf image"
            class="absolute -top-8 -left-12 w-40 md:w-52 xl:w-64 -z-50 opacity-20 hidden">
        </div>

        <div class="review-top flex flex-col items-center gap-3 text-center mb-10 md:mb-10">
            <h2 class="title">Customer Reviews</h2>
            <p class="max-w-2xl px-4">
                Shopping at PlantFantasia is easy and enjoyable. Browse our user-friendly website to find your perfect plants, accessories, and more. Enjoy fast shipping and hassle-free returns, ensuring a seamless shopping experience from start to finish.
            <p>
        </div>
        
        <div class="container review-swiper">
            <div class="swiper py-12 flex flex-col gap-2">
                <ul class="swiper-wrapper mb-10">
                    <li class="swiper-slide">
                        <div class="flex flex-col gap-5 bg-green-900
                            rounded-md p-6">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                Adipisci commodi accusantium delectus, modi sequi repudiandae, 
                                maxime esse debitis cupiditate aut assumenda molestiae ut, 
                                facere beatae.
                            </p>
                            <div class="flex items-center">
                                <img src="{% static 'media/images/review-1.jpg' %}" alt=""
                                class="w-16 h-16 rounded-full">
                                <div class="ml-2">
                                    <p class="text-sm text-yellow-500 uppercase text-ellipsis overflow-hidden">Johanna Doe</p>
                                    <p>Designer</p>
                                </div>
                                <i class="ri-double-quotes-r text-4xl ml-auto"></i>
                            </div>
                            
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="flex flex-col gap-5 bg-green-900
                            rounded-md p-6">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                Adipisci commodi accusantium delectus, modi sequi repudiandae, 
                                maxime esse debitis cupiditate aut assumenda molestiae ut, 
                                facere beatae.
                            </p>
                            <div class="flex items-center">
                                <img src="{% static 'media/images/review-2.jpg' %}" alt=""
                                class="w-16 h-16 rounded-full">
                                <div class="ml-2">
                                    <p class="text-sm text-yellow-500 uppercase text-ellipsis overflow-hidden">John Doe</p>
                                    <p>Designer</p>
                                </div>
                                <i class="ri-double-quotes-r text-4xl ml-auto"></i>
                            </div>
                            
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="flex flex-col gap-5 bg-green-900
                            rounded-md p-6">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                Adipisci commodi accusantium delectus, modi sequi repudiandae, 
                                maxime esse debitis cupiditate aut assumenda molestiae ut, 
                                facere beatae.
                            </p>
                            <div class="flex items-center">
                                <img src="{% static 'media/images/review-3.jpg' %}" alt=""
                                class="w-16 h-16 rounded-full">
                                <div class="ml-2">
                                    <p class="text-sm text-yellow-500 uppercase text-ellipsis overflow-hidden">Johanna Doe</p>
                                    <p>Designer</p>
                                </div>
                                <i class="ri-double-quotes-r text-4xl ml-auto"></i>
                            </div>
                            
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="flex flex-col gap-5 bg-green-900
                            rounded-md p-6">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                Adipisci commodi accusantium delectus, modi sequi repudiandae, 
                                maxime esse debitis cupiditate aut assumenda molestiae ut, 
                                facere beatae.
                            </p>
                            <div class="flex items-center">
                                <img src="{% static 'media/images/review-4.jpg' %}" alt=""
                                class="w-16 h-16 rounded-full ">
                                <div class="ml-2">
                                    <p class="text-sm text-yellow-500 uppercase text-ellipsis overflow-hidden">Johanna Doe</p>
                                    <p>Designer</p>
                                </div>
                                <i class="ri-double-quotes-r text-4xl ml-auto"></i>
                            </div>
                            
                        </div>
                    </li>
                </ul>

                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>
{% endblock %}