{% extends 'base.html' %}
{% load static %}

{% block contents %}
{% include 'includes/account-navbar.html'%}
<section id="home" class="relative min-h-[90vh] mt-20 flex items-center justify-center p-4">
    <div class="flex flex-col items-center max-w-xl gap-4 p-8 border rounded-md shadow-md shadow-neutral-950">
        <i class="ri-checkbox-circle-line text-7xl"></i>
        <h1 class="text-center font-thin">Your e-mail has been verified successfully.</h1>
        <hr>
        <p class="font-light">Proceed to login.</p>
    </div>
</section>
{% endblock %}