{% extends 'base.html' %}
{% load static %}

{% block contents %}
{% include 'includes/account-navbar.html'%}
{% include 'account/includes/regiser-page-content.html' %}
{% endblock %}
{% block scripts %}
<script>
    const disableButton = () => {
        const submitBtn = document.getElementById('submit-button');
        const loadingSpinner = document.getElementById('loading-spinner');
        
        loadingSpinner.classList.remove("hidden");
        loadingSpinner.classList.add("inline");
    
        submitBtn.disabled = true;
        submitBtn.innerText = 'Sending...';
    };
</script>
{% endblock %}