{% extends 'account-base.html' %}
{% load static %}

{% block contents %}
<section id="home" class="relative min-h-[90vh] mt-20">
    <div class="container m-auto flex flex-col xl:flex-row gap-12 items-center justify-center">
        <div class="flex-1 m-0 items-start border rounded-xl w-full h-full aspect-1">
        </div>
        <div>
            <h1 class="font-barriecito">Start <span class="text-yellow-500">Growing</span> Today!</h1>
            <br>
            <form class="max-w-md"action="{% url 'register'%}" autocomplete="off" method="POST" id="{{form.form_id}}" onsubmit="disableButton()">
                {% csrf_token %}
                {% for field in form %}
                    <div id="form-control" class="mb-2
                        {% if field.errors %}
                        text-sm
                        {% endif %}"
                    >
                        <div id="form-labels" class="mt-4">
                            {{ field.label_tag }}
                            {% if field.help_text %}
                                <small class="block text-gray-300/70">{{ field.help_text }}</small>
                            {% endif %}
                        </div> 
                        <div class="flex rounded-md shadow-sm ring-1 ring-inset bg-none
                            ring-gray-300 focus-within:ring-2 focus-within:ring-inset 
                            focus-within:ring-emerald-600 {% if field.name == 'subscribe' %}
                            w-5 h-5 mb-4{% endif %}">
                            {{ field }}
                        </div>
                        <div id="form-errors" class="text-red-400">
                            {{ field.errors }}
                        </div>
                    </div>
                {% endfor %}
                <br>
                {% include 'account/includes/form-submit-btn.html' %}
            </form>
        </div>
    </div>
</section>
{% endblock %}