{% load mathfilters %}
<!-- Individual cart item -->
<div class="grid grid-cols-3 items-center gap-2 bg-green-900 rounded-md">
    <div class="col-span-2 flex md:items-center items-start md:gap-4 gap-2">
        <!-- Product image -->
        <div class="w-32 h-32 shrink-0 bg-green-900 p-1 rounded-md">
            <img src="{{product.image.url}}" class="w-full h-full object-cover rounded-md" />
        </div>

        <!-- Product details -->
        <div>
            <div class="flex flex-wrap lg:flex-col">
                <a href="{{item.url}}">
                    <p class="text-base text-left font-bold text-white font-barriecito hover:text-yellow-500">{{product.title}}</p>
                </a>
                <p class="font-thin text-sm text-left">{{product.description}}</p>
            </div>
          
            

            <!-- Size and quantity controls -->
            <div class="flex gap-4 mt-2">
                <!-- Quantity selector -->
                <div>
                    <button type="button"
                        class="flex items-center border-2 border-gray-300 text-white text-xs outline-none bg-transparent rounded-lg">
                        <div class="hover:bg-gray-300 transition-all duration-300 ease-linear hover:text-green-950 p-2.5 rounded-l-md border-1 border-gray-300">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-2.5 fill-current" viewBox="0 0 124 124">
                                <path d="M112 50H12C5.4 50 0 55.4 0 62s5.4 12 12 12h100c6.6 0 12-5.4 12-12s-5.4-12-12-12z" data-original="#000000"></path>
                            </svg>
                        </div>
                        <span class="mx-2.5">{{item.qty}}</span>
                        <div class="hover:bg-gray-300 transition-all duration-300 ease-linear hover:text-green-950 p-2.5 rounded-r-md border-1 border-gray-300">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-2.5 fill-current" viewBox="0 0 42 42">
                                <path d="M37.059 16H26V4.941C26 2.224 23.718 0 21 0s-5 2.224-5 4.941V16H4.941C2.224 16 0 18.282 0 21s2.224 5 4.941 5H16v11.059C16 39.776 18.282 42 21 42s5-2.224 5-4.941V26h11.059C39.776 26 42 23.718 42 21s-2.224-5-4.941-5z" data-original="#000000"></path>
                            </svg>
                        </div>
                       
                    </button>
                </div>
            </div>

           <!-- Card controls-->
            <div class="hidden md:block">
                {% include 'cart/includes/card-controls.html' %}
            </div>
            
          
        </div>
    </div>
    <!-- Product price -->
    <div class=" col-span-3 md:col-span-1 flex flex-col items-center md:ml-auto md:block leading-tight md:mr-2">
        <p class="text-xs text-left md:text-sm bg-white text-green-950 p-1 rounded-md items-start">Price ${{product.price}}</p>
        <p class="text-xs md:text-sm md:text-right font-semibold text-white p-1.5 items-end">Subtotal ${{product.price|mul:item.qty}}</p>
        <!-- Card controls-->
        <div class="md:hidden">
            {% include 'cart/includes/card-controls.html' %}
        </div>
       
    </div>
</div>