{% extends 'account/includes/dashboard-base.html' %}
{% load static %}

{% block subtext %}
<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    {% include 'includes/subheader.html' with title="Password Reset" %}
    <div aria-labelledby="products-heading" class="pb-12 pt-6">
        <h2 id="products-heading" class="sr-only">Orders</h2>
        <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
            <!-- Product grid -->
            <div class="lg:col-span-4 py-7 m-auto">
                <!-- <h1 class="font-thin">We've Got You Covered.</h1> -->
                <br>
                <p class="font-light">Enter and confirm your new password below.</p>
                <form class="max-w-md" method="POST" autocomplete="off"
                    id="{{form.form_id}}" onsubmit="disableButton()">
                    {% csrf_token %}
                    {% for field in form %}
                        <div id="form-control" class="mb-2
                            {% if field.errors %}
                            text-sm
                            {% endif %}"
                        >
                            <div id="form-labels" class="mt-4">
                                {{ field.label_tag }}
                                {% if field.help_text %}
                                    <small class="block text-gray-300/70">{{ field.help_text }}</small>
                                {% endif %}
                            </div> 
                            <div class="flex rounded-md shadow-sm ring-1 ring-inset bg-none
                                ring-gray-300 focus-within:ring-2 focus-within:ring-inset 
                                focus-within:ring-emerald-600 {% if field.name == 'subscribe' %}
                                w-5 h-5 mb-4{% endif %}">
                                {{ field }}
                            </div>
                            <div id="form-errors" class="text-red-400">
                                {{ field.errors }}
                            </div>
                        </div>
                    {% endfor %}
                    <br>
                    {% include 'includes/elements/form-submit-btn.html' with prompt="Update" %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}