{% extends 'account/includes/dashboard-base.html' %}
{% load static %}

{% block subtext %}
<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    {% include 'includes/subheader.html' with title="Orders" %}
    <div aria-labelledby="products-heading" class="pb-12 pt-6">
        <h2 id="products-heading" class="sr-only">Orders</h2>

        <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
            <!-- Filters -->
            {% include 'account/includes/elements/sidebar-nav-links.html' %}
            <!-- Product grid -->
            <div class="lg:col-span-3">
                <div class="grid grid-cols grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 
                text-center gap-4 transition-all duration-300">
                {% if orders|length == 0 %}
                <!-- Message and link when cart is empty -->
                    <div class="xl:col-span-3">
                        <i class="ri-emoji-sticker-line text-7xl"></i>
                        <h1 class="text-center font-thin">You currently have no orders to review.</h1>
                        <br>
                        <a href="{% url 'store' %}" class="text-sm hover:text-yellow-500">Proceed to the store to continue shopping.</a>
                        <p class="font-light"></p>
                    </div>
                {% else %}      
                    {% for order in orders %}
                    <div class="xl:col-span-3 w-full">
                        <div class="">
                            <strong>Order ID# {{order.id}}</strong>
                            <br>
                            {{order.product}} | ${{order.price}}
                            <br>
                            Quantity {{order.quantity}} 
                            <hr>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}