{% extends 'account/includes/dashboard-base.html' %}
{% load static %}

{% block subtext %}
<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        
    {% include 'includes/subheader.html' with title="Settings" %}
    <div aria-labelledby="products-heading" class="pb-12 pt-6">
        <h2 id="products-heading" class="sr-only">Settings</h2>

        <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
            <!-- Filters -->
            {% include 'account/includes/elements/sidebar-nav-links.html' %}
            <!-- Product grid -->
            <div class="lg:col-span-3 py-4 m-auto">
                <h1 class="font-thin">Shipping Details</h1>
                <div class="mt-4">
                    <br>
                    <p>User Details</p>
                    <br>
                    <p class="text-sm font-semibold">Full Name</p>
                    <p class="text-sm">{{ shipping.name }} {{ shipping.surname }}</p>
                    <br>
                    <p class="text-sm font-semibold">Address</p>
                    <p class="text-sm">{{ shipping.address1 }}</p>
                    <p class="text-sm">{{ shipping.address2 }}</p>
                    <p class="text-sm">{{ shipping.city }}</p>
                    <p class="text-sm">{{ shipping.state }}</p>
                    <p class="text-sm">{{ shipping.zipcode }}</p>
                </div>
                <br>
                <a class="font-bold hover:text-yellow-500" href="{% url 'manage-shipping'%}">
                    <span class="text-sm">Manage Shipping Details</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}