{% extends 'account/includes/dashboard-base.html' %}
{% load static %}

{% block subtext %}
<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        
    {% include 'includes/subheader.html' with title="Settings" %}
    <div aria-labelledby="products-heading" class="pb-12 pt-6">
        <h2 id="products-heading" class="sr-only">Settings</h2>

        <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
            <!-- Filters -->
            {% include 'account/includes/elements/sidebar-nav-links.html' %}
            <!-- Product grid -->    
            <div class="lg:col-span-3 py-1 m-auto w-full">
                <div class="group setting bg-transparent relative overflow-hidden duration-500 ease-in-out
                    shadow-md shadow-black border rounded-md px-2 py-4 w-full">
                    
                    <div class="m-2">
                        <h3 class="font-thin" id="title">
                            Shipping Details
                        </h3>
                        <br>
                        {% if shipping %}
                            <div class="setting-text grid-cols-1 lg:grid-cols-2 items-start hidden">
                                <div>
                                    <p class="font-semibold">User Details</p>
                                    <p class="text-sm">{{ shipping.name }} {{ shipping.surname }}</p>
                                </div>
                                <div>
                                    <p class="font-semibold">Address</p>
                                    <p class="text-sm">{{ shipping.address1 }}</p>
                                    <p class="text-sm">{{ shipping.address2 }}</p>
                                    <p class="text-sm">{{ shipping.city }}</p>
                                    <p class="text-sm">{{ shipping.state }}</p>
                                    <p class="text-sm">{{ shipping.zipcode }}</p>
                                </div>
                            </div>
                            <br>
                            <a class="font-bold hover:text-yellow-500" href="{% url 'manage-shipping'%}">
                                <span class="text-sm">Manage Shipping Details</span>
                            </a>
                        {% else %}
                            <div class="setting-text grid-cols-1 lg:grid-cols-2 items-start hidden">
                                No shipping details to display.
                            </div>
                            <br>
                            <a class="font-bold hover:text-yellow-500" href="{% url 'manage-shipping'%}">
                                <span class="text-sm">Add Shipping Details</span>
                            </a>
                            
                        {% endif %}
                    </div>
                    <button class="settings-toggle absolute top-4 right-4 ursor-pointer flex items-center justify-center 
                        h-7 w-7 text-lg hover:scale-150">
                        <i class="ri-arrow-down-s-line"></i>
                        <i class="ri-close-line hidden"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}