<button id="submit-button" type="submit" class="px-2 items-center justify-center flex text-center '
        font-normal text-base btn bg-transparent gap-2 border rounded-md w-56 p-1
        border-yellow-500 0 hover:bg-yellow-500 hover:text-green-950
        cursor-pointer py-2 transition duration-300 mb-6">
    <svg id="loading-spinner" class="size-6 hidden text-white animate-spin" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4z"></path>
    </svg>
    <span id="button-text">{{prompt}}</span>
</button>