<div style="background-image: url({{product.image.url}}); background-position: center; background-size: cover;" 
class="popular-card bg-green-950 min-h-64 rounded-md relative popular-card flex flex-col justify-stretch">
        <div class="bg-black/50 absolute top-0 left-0 w-full h-full rounded-md"></div>
      
            <div class="absolute bottom-0 left-0 right-0 flex flex-col pb-2 items-center gap-2 mb-0.5">
                <a href="{% url 'single-product' product.slug %}" class="cursor-pointer">
                    <p class="italic">{{ product.category }}</p>
                    <h4>{{ product.title }}</h4>
                    <div class="text-yellow-500 text-xs py-3">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-half-fill"></i>
                        <i class="ri-star-line text-gray-400"></i>
                    </div>
                    <p class="truncate">{{ product.description }}</p>
                    <p class="text-xl">${{ product.price }}</p>
                </a>
            <button class="bg-yellow-500 px-2 py-1 text-xl rounded-sm
                hover:scale-125 transition-all duration-500">
                <i class="ri-shopping-cart-fill"></i>
            </button>
        </div>
    </a>

</div>