<div class="my-20">
    <div class="md:container mx-auto px-4 py-16">
      <div class="flex flex-wrap -mx-4">
        <!-- Product Images -->
        <div class="w-full xl:w-1/2 px-4 mb-8">
          <img src="{{product.image.url}}" alt="Product"
                      class="w-full h-auto rounded-lg shadow-md mb-4" id="mainImage">
          <div class="flex gap-4 py-4 justify-center overflow-x-auto">
            <img src="https://images.unsplash.com/photo-1505751171710-1f6d0ace5a85?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHwxMnx8aGVhZHBob25lfGVufDB8MHx8fDE3MjEzMDM2OTB8MA&ixlib=rb-4.0.3&q=80&w=1080" alt="Thumbnail 1"
                          class="size-16 sm:size-20 object-cover rounded-md cursor-pointer opacity-60 hover:opacity-100 transition duration-300"
                          onclick="changeImage(this.src)">
            <img src="https://images.unsplash.com/photo-1484704849700-f032a568e944?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw0fHxoZWFkcGhvbmV8ZW58MHwwfHx8MTcyMTMwMzY5MHww&ixlib=rb-4.0.3&q=80&w=1080" alt="Thumbnail 2"
                          class="size-16 sm:size-20 object-cover rounded-md cursor-pointer opacity-60 hover:opacity-100 transition duration-300"
                          onclick="changeImage(this.src)">
            <img src="https://images.unsplash.com/photo-1496957961599-e35b69ef5d7c?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw4fHxoZWFkcGhvbmV8ZW58MHwwfHx8MTcyMTMwMzY5MHww&ixlib=rb-4.0.3&q=80&w=1080" alt="Thumbnail 3"
                          class="size-16 sm:size-20 object-cover rounded-md cursor-pointer opacity-60 hover:opacity-100 transition duration-300"
                          onclick="changeImage(this.src)">
            <img src="https://images.unsplash.com/photo-1528148343865-51218c4a13e6?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHwzfHxoZWFkcGhvbmV8ZW58MHwwfHx8MTcyMTMwMzY5MHww&ixlib=rb-4.0.3&q=80&w=1080" alt="Thumbnail 4"
                          class="size-16 sm:size-20 object-cover rounded-md cursor-pointer opacity-60 hover:opacity-100 transition duration-300"
                          onclick="changeImage(this.src)">
          </div>
        </div>
  
        <!-- Product Details -->
        <div class="w-full xl:w-1/2 px-4">
          <h2 class="text-3xl font-extralight mb-2">{{product.title}}</h2>
          <div class="mb-4">
            {% if product.discount > 0 %}
            <span class="text-2xl font-bold mr-2">$ {{product.discount_price}}</span>
            <span class="text-gray-500 line-through">$ {{product.price}}</span>
            {% else %}
            <span class="text-2xl font-bold mr-2">$ {{product.price}}</span>
            {% endif %}
          </div>
          <div class="flex items-center justify-start mb-4">
            <div class="text-yellow-500 w-[66%] rounded-full m-0">
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-half-fill"></i>
                <i class="ri-star-line text-gray-400"></i>
            </div>
            <span class="ml-2 text-gray-600">4.5 (120 reviews)</span>
          </div>
          <p class="text-gray-100 mb-6">Experience premium sound quality and industry-leading noise cancellation
            with
            these wireless headphones. Perfect for music lovers and frequent travelers.</p>
  
          <!-- <div class="mb-6">
            <h3 class="text-lg font-semibold mb-2">Color:</h3>
            <div class="flex space-x-2">
              <button
                              class="w-8 h-8 bg-black rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black"></button>
              <button
                              class="w-8 h-8 bg-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300"></button>
              <button
                              class="w-8 h-8 bg-blue-500 rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"></button>
            </div>
          </div> -->
    
           <!-- Product quantity -->
           <div class="my-2">
            <h5 class="font-light text-white">Quantity</h5>
            <div class="flex divide-x border w-max mt-2 rounded overflow-hidden">
            <button id="item-qty-minus"  type="button" class="group hover:bg-yellow-500 w-10 h-7 font-bold flex items-center justify-center transition-colors duration-300">
                <i class="ri-subtract-line group-hover:text-green-950 transition-colors duration-300"></i>
            </button>
            <div id="item-qty" class="w-10 h-7 font-normal flex items-center justify-center text-white text-base">
                1
            </div>
            <button id="item-qty-plus" type="button" class="group hover:bg-yellow-500 text-white w-10 h-7 font-bold flex items-center justify-center transition-colors duration-300">
                <i class="ri-add-line group-hover:text-green-950 transition-colors duration-300"></i>
            </button>
            </div>

        </div>
  
          <div class="flex space-x-4 my-6">
            <button id="cart-add-button" type="button" value="{{ product.id }}"
                class="bg-yellow-500 flex gap-2 transition-colors duration-300 items-center text-green-950 px-6 py-2 rounded-md hover:bg-green-900 hover:text-yellow-500 focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2">
                          <i class="ri-shopping-cart-fill text-lg"></i> 
                          Add to Cart
                      </button>
            <button
                          class="bg-gray-200 flex gap-2 transition-colors duration-300 items-center  text-gray-800 px-6 py-2 rounded-md hover:bg-green-900 hover:text-yellow-500 focus:outline-none focus:ring-2 focus:ring-gray-100 focus:ring-offset-2">
                          <i class="ri-heart-line text-lg"></i>
                          Wishlist
                      </button>
          </div>
  
          <div>
            <h3 class="text-lg font-semibold mb-2">Key Features:</h3>
            <ul class="list-disc list-inside text-gray-100">
              <li>Industry-leading noise cancellation</li>
              <li>30-hour battery life</li>
              <li>Touch sensor controls</li>
              <li>Speak-to-chat technology</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  
    <script>
      function changeImage(src) {
              document.getElementById('mainImage').src = src;
          }
    </script>
  </div>