<section id="home">
    <!-- Services Section -->
    <div id="services" class="bg-white text-green-900 py-10">
        <!-- Container for Service Cards -->
        <div class="container w-full grid grid-cols-1 gap-6 md:grid-cols-2 xl:grid-cols-4">
            <!-- card 1: Design -->
            <div class="service-card border border-green-900 p-5 cursor-pointer rounded-md
            hover:shadow-2xl hover:-translate-y-1 duration-300 ease-in-out">
                <div class="flex items-center gap-5 space-y-5">
                    <i class="ri-sketching text-3xl md:text-4xl xl:text-5xl"></i>
                    <p class="md:text-lg font-bold"> Custom <br> Terrarium Design </p>
                </div>
                <p class="font-thin">Create Your Own Oasis</p>
                <p class="font-poiret">
                    Design a unique terrarium tailored to your style! 
                </p>
            </div>
            <!-- card 2: Care -->
            <div class="service-card border border-green-900 p-5 cursor-pointer rounded-md
            hover:shadow-2xl hover:-translate-y-1 duration-300 ease-in-out">
                <div class="flex items-center gap-5 space-y-5">
                    <i class="ri-service-line text-3xl md:text-4xl xl:text-5xl"></i>
                    <p class="md:text-lg font-bold"> Terrarium <br> Care Packages  </p>
                </div>
                <p class="font-thin">Keep Your Greenery Thriving</p>
                <p class="font-poiret">
                    Get your own custom maintenances kit subscription.
                </p>
            </div>
            <!-- card 3: Workshops -->
            <div class="service-card border border-green-900 p-5 cursor-pointer rounded-md
            hover:shadow-2xl hover:-translate-y-1 duration-300 ease-in-out">
                <div class="flex items-center gap-5 space-y-5">
                    <i class="ri-plant-line text-3xl md:text-4xl xl:text-5xl"></i>
                    <p class="md:text-lg font-bold"> Terrarium <br> Workshops </p>
                </div>
                <p class="font-thin">Learn & Create</p>
                <p class="font-poiret">
                    Join our hands-on workshops and discover the art of terrarium building! 
                </p>
            </div>
            <!-- card 4: Gallery -->
            <div class="service-card border border-green-900 p-5 cursor-pointer rounded-md
            hover:shadow-2xl hover:-translate-y-1 duration-300 ease-in-out">
                <div class="flex items-center gap-5 space-y-5">
                    <i class="ri-image-2-line text-3xl md:text-4xl xl:text-5xl"></i>
                    <p class="md:text-lg font-bold"> Terrarium <br> Gallery </p>
                </div>
                <p class="font-thin">Get Inspired</p>
                <p class="font-poiret">
                    See terrariumm photos from fellow  members of the Fantasia Family. 
                </p>
            </div>
        </div>
    </div>
</section>