<section id="home">
    <!-- Services Section -->
    <div id="services" class="bg-white text-green-900 py-10">
        <!-- Container for Service Cards -->
        <div class="container w-full grid grid-cols-1 gap-6 md:grid-cols-2 xl:grid-cols-4">
            <!-- card 1: Plant Care -->
            <div class="service-card border border-green-900 p-5 cursor-pointer rounded-md
            hover:shadow-2xl hover:-translate-y-1 duration-300 ease-in-out">
                <div class="flex items-center gap-5 space-y-5">
                    <i class="ri-service-line text-3xl md:text-4xl xl:text-5xl"></i>
                    <p class="md:text-lg font-bold"> Plant <br> Care </p>
                </div>
                <p class="font-poiret"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, incidunt?</p>
            </div>
            <!-- card 2: Garden Planner -->
            <div class="service-card border border-green-900 p-5 cursor-pointer rounded-md
            hover:shadow-2xl hover:-translate-y-1 duration-300 ease-in-out">
                <div class="flex items-center gap-5 space-y-5">
                    <i class="ri-sketching text-3xl md:text-4xl xl:text-5xl"></i>
                    <p class="md:text-lg font-bold"> Garden <br> Planner </p>
                </div>
                <p class="font-poiret"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, incidunt?</p>
            </div>
            <!-- card 3: Greenspace Finder -->
            <div class="service-card border border-green-900 p-5 cursor-pointer rounded-md
            hover:shadow-2xl hover:-translate-y-1 duration-300 ease-in-out">
                <div class="flex items-center gap-5 space-y-5">
                    <i class="ri-plant-line text-3xl md:text-4xl xl:text-5xl"></i>
                    <p class="md:text-lg font-bold"> Greenspace <br> Finder </p>
                </div>
                <p class="font-poiret"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, incidunt?</p>
            </div>
            <!-- card 4: Eco-Travel Guide -->
            <div class="service-card border border-green-900 p-5 cursor-pointer rounded-md
            hover:shadow-2xl hover:-translate-y-1 duration-300 ease-in-out">
                <div class="flex items-center gap-5 space-y-5">
                    <i class="ri-map-2-line text-3xl md:text-4xl xl:text-5xl"></i>
                    <p class="md:text-lg font-bold"> Eco-Travel <br> Guide </p>
                </div>
                <p class="font-poiret"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, incidunt?</p>
            </div>
        </div>
    </div>
</section>