{% load static %}
<!-- Section for displaying trending plants -->
<section id="trending" class="bg-green-900">
    <!-- Top section with title and description -->
    <div class="trending-top flex flex-col items-center gap-3 text-center mb-40 md:mb-32">
        <h2 class="title">Trending Plants</h2>
        <p class="max-w-2xl px-4">
            Plants offer much more than just aesthetic appeal for your home; they enhance air quality, elevate your mood, and foster a tranquil environment. Explore how incorporating greenery can turn your living space into a peaceful sanctuary with our curated selection of favorites available in our store.
        </p>
    </div>

    <!-- Container for plant cards -->
    <div class="container w-full grid grid-cols-1 gap-x-8 gap-y-36 md:grid-cols-2 
        xl:grid-cols-4">
        
        <!-- Card 1: Boston Fern -->
        <div class="popular-card bg-green-950 p-10 pt-24 rounded-md relative popular-card lex flex-col justify-between">
            <img src="{% static 'media/images/cart-1.png' %}" alt=""
            class="w-56 absolute -top-5 left-1/2 transform 
            -translate-x-1/2 -translate-y-1/2 duration-500">
            <p class="italic">Nephrolepos exaltata</p>
            <h3>Boston Fern</h3>
            <div class="text-yellow-500 text-xs py-3">
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-half-fill"></i>
                <i class="ri-star-line text-gray-400"></i>
            </div>

            <div class="flex items-center justify-between">
                <p class="text-xl">$50.00</p>
                <button class="bg-yellow-500 px-2 py-1 text-xl rounded-sm
                    hover:scale-125 transition-all duration-500">
                    <i class="ri-shopping-cart-fill"></i>
                </button>
            </div>
        </div>

        <!-- Card 2: Rubber Plant -->
        <div class="popular-card bg-green-950 p-10 pt-24 rounded-md relative popular-card flex flex-col justify-between">
            <img src="{% static 'media/images/cart-2.png' %}" alt=""
            class="w-56 absolute -top-5 left-1/2 transform 
            -translate-x-1/2 -translate-y-1/2 duration-500">
            <p class="italic">Ficus elastica</p>
            <h3>Rubber Plant</h3>
            <div class="text-yellow-500 text-xs py-3">
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-half-fill"></i>
                <i class="ri-star-line text-gray-400"></i>
            </div>

            <div class="flex items-center justify-between">
                <p class="text-xl">$50.00</p>
                <button class="bg-yellow-500 px-2 py-1 text-xl rounded-sm 
                    hover:scale-125 transition-all duration-500">
                    <i class="ri-shopping-cart-fill"></i>
                </button>
            </div>
        </div>

        <!-- Card 3: Peace Lily -->
        <div class="popular-card bg-green-950 p-10 pt-24 rounded-md relative popular-card flex flex-col justify-between">
            <img src="{% static 'media/images/cart-3.png' %}" alt=""
            class="w-56 absolute -top-5 left-1/2 transform 
            -translate-x-1/2 -translate-y-1/2 duration-500">
            <p class="italic">Spathiphyllum wallisii</p>
            <h3>Peace Lily</h3>
            <div class="text-yellow-500 text-xs py-3">
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-half-fill"></i>
                <i class="ri-star-line text-gray-400"></i>
            </div>

            <div class="flex items-center justify-between">
                <p class="text-xl">$50.00</p>
                <button class="bg-yellow-500 px-2 py-1 text-xl rounded-sm
                    hover:scale-125 transition-all duration-500">
                    <i class="ri-shopping-cart-fill"></i>
                </button>
            </div>
        </div>

        <!-- Card 4: Desert Rose -->
        <div class="popular-card bg-green-950 p-10 pt-24 rounded-md relative popular-card flex flex-col justify-between">
            <img src="{% static 'media/images/cart-4.png' %}" alt=""
            class="w-56 absolute -top-5 left-1/2 transform 
            -translate-x-1/2 -translate-y-1/2 duration-500">
            <p class="italic">Adenium obesum</p>
            <h3>Desert Rose</h3>
            <div class="text-yellow-500 text-xs py-3">
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-half-fill"></i>
                <i class="ri-star-line text-gray-400"></i>
            </div>

            <div class="flex items-center justify-between">
                <p class="text-xl">$50.00</p>
                <button class="bg-yellow-500 px-2 py-1 text-xl rounded-sm
                    hover:scale-125 transition-all duration-500">
                    <i class="ri-shopping-cart-fill"></i>
                </button>
            </div>
        </div>
    </div>
</section>