{% extends 'base.html' %}
{% load static %}

{% block contents %}
{% include 'includes/main-navbar.html'%}
<section id="home" class="relative min-h-[90vh] mt-20">
    <div class="container">
        <!-- blob 1 -->
        <div class="w-64 h-64 bg-green-700 rounded-full blur-3xl -z-10 opacity-40 absolute top-1/2 left-1/2 
        transform -translate-x-1/2 -translate-y-1/2">
        </div>
        <!-- blob 2 -->
        <div class="w-64 h-64 bg-green-700 rounded-full blur-3xl -z-10 opacity-40 absolute
        transform right-0 bottom-0">
        </div>
        <!-- main content -->
        <div class="bg-none text-white w-full">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        
                {% include 'includes/subheader.html' with title="Orders" %}
                <div aria-labelledby="products-heading" class="pb-12 pt-6">
                    <h2 id="products-heading" class="sr-only">Orders</h2>
            
                    <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
                        <!-- Filters -->
                        {% include 'account/includes/elements/sidebar-nav-links.html' %}
                        <!-- Product grid -->
                        <div class="lg:col-span-3">
                            <div class="grid grid-cols grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 
                            text-center gap-4 transition-all duration-300">
                                <!-- Loop through blog post and include the post template -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}