{% extends 'account/includes/dashboard-base.html' %}
{% load static %}

{% block subtext %}
<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    {% include 'includes/subheader.html' with title="Shipping Information" %}
    <div aria-labelledby="products-heading" class="pb-12 pt-6">
        <h2 id="products-heading" class="sr-only">Orders</h2>
        <!-- Product grid -->
        <div class="lg:col-span-4 py-4 m-auto w-full">
            <!-- <h1 class="font-thin">We've Got You Covered.</h1> -->
            <p class="font-light mb-4">Please enter your shipping details below.</p>
            <form method="POST" autocomplete="off" class="mx-auto max-w-screen-xl 2xl:px-0"
                id="{{form.form_id}}" action="{% url 'manage-shipping' %}" onsubmit="disableButton()">
                {% csrf_token %}
                    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
                    {% for field in form %}
                        <div id="form-control" class="
                            {% if field.errors %}
                            text-sm
                            {% endif %}"
                        >
                            <div id="form-labels" class="">
                                {{ field.label_tag }}
                                {% if field.help_text %}
                                    <small class="block text-gray-300/70">{{ field.help_text }}</small>
                                {% endif %}
                            </div> 
                            <div>
                                {{ field }}
                            </div>
                            <div id="form-errors" class="text-red-400">
                                {{ field.errors }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
                <br>
                {% include 'account/includes/elements/form-submit-btn.html' with prompt="Update" %}
            </form>
        </div>
    </div>
</div>
{% endblock %}

