{% load static %}
<nav class="mx-4 flex items-center justify-between h-16 sm:h-20">
    <!-- Logo and brand name section -->
    <div class="group font-poiret font-light text-lg sm:text-xl">
        <a class="inline-flex items-center" href="{% url 'home' %}">
            <!-- Logo image with hover effect -->
            &nbsp; <img class="peer w-14 h-14 group-hover:-rotate-45 transition-transform duration-500 ease" src="{% static 'media/images/logo.png' %}">
            <!-- Brand name with hover effect -->
            <p 
                class="group-hover:scale-110 translate-x-1 font-barriecito leading-none transition-transform duration-500 ease"   
            >
                Plant <br> Fantasia
            </p>
        </a>
    </div>
</nav>