{% load static %}
<nav class="mx-4 flex items-center justify-between h-16 sm:h-20">
    <!-- Logo and brand name section -->
    <div class="group font-poiret font-light text-lg sm:text-xl">
        <a class="inline-flex items-center" href="{% url 'home' %}">
            <!-- Logo image with hover effect -->
            &nbsp; <img class="peer w-14 h-14 group-hover:-rotate-45 transition-transform duration-500 ease" src="{% static 'media/images/logo.png' %}">
            <!-- Brand name with hover effect -->
            <p class="group-hover:scale-110 translate-x-1 transition-transform duration-500 ease">Plant Fantasia</p>
        </a>
    </div>
    
    <!-- Navigation menu -->
    <div id="nav-menu" class="absolute top-0 left-[-100%] min-h-[80vh]
        w-full bg-green-950/80 backdrop-blur-sm md:backdrop-blur-none 
        flex items-center justify-center duration-500 lg:static lg:min-h-fit 
        lg:bg-transparent lg:w-auto overflow-x-hidden overflow-y-visible z-40">
        <ul class="flex flex-col items-center justify-center lg:flex-row gap-4">  
            <!-- Home link -->
            <li><a href="{% url 'home' %}" class="nav-link mb-4">Home</a></li>
            <!-- Store link with dropdown for categories -->
            <li class="relative group">
                <a href="{% url 'store' %}" class="nav-link mb-4">Store</a>
                <ul class="absolute left-0 hidden group-hover:block bg-white text-black mt-2 rounded-md shadow-lg">
                    {% for category in categories %}
                        <!-- Category links -->
                        <li><a href="{% url 'categories' category.slug %}" class="block px-4 py-2 hover:bg-yellow-500">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <!-- Blog link -->
            <li><a href="#" class="nav-link mb-4">Blog</a></li>
            <!-- Shopping cart icon with hover effect -->
            <li>
                <a href="#" class="hover:bg-yellow-500 border border-yellow-500 px-2 py-0.5 rounded-sm
                hover:scale-110 transition-all duration-500">
                    <i class="ri-shopping-cart-fill"></i>
                </a>
            </li>  
        </ul>
        <!-- Decorative leaf images for mobile view -->
        <div class="absolute bottom-0 -right-10 opacity-90 lg:hidden">
            <img class="w-32" src="/media/images/leaf-1.png" alt="leaf-image">
        </div>
        <div class="absolute -top-5 -left-5 rotate-90 opacity-90 lg:hidden">
            <img class="w-32" src="/media/images/leaf-2.png" alt="leaf-image">
        </div>
    </div>
    <!-- Hamburger menu icon for mobile view -->
    <div class="text-xl sm:text-3xl cursor-pointer z-50 lg:hidden">
        <i id="hamburger" class="ri-menu-5-line"></i>
    </div>
</nav>